<div class="room-user" (click)="setConversation()" [class.isActive]="isActive">
  <div class="user" *ngFor="let member of members">
    <img class="user-img" [src]="member.avatarUrl" alt="">
    <span class="user-status" *ngIf="member.status === STATUS.ONLINE">
    </span>
  </div>

  <div class="room">
    <div class="message-info">
      <span class="user-fullName" *ngFor="let member of members">{{member.fullName}}</span>
      <span class="time">02:50 PM</span>
    </div>
    <p>Latest message</p>
  </div>

</div>
