.room-content {
  display: none;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  height: 100%;
}
.room-content.show {
  display: flex;
}
.room-content .room-header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0eff5;
}
.room-content .room-header-container .room-user-area {
  display: flex;
  padding-left: 3rem;
  align-items: center;
  gap: 1rem;
}
.room-content .room-header-container .room-user-area .room-user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  font-size: 1.6rem;
}
.room-content .room-header-container .room-user-area .room-user-name .room-user-online {
  display: block;
  border-radius: 50%;
  border: 4px solid green;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}
.room-content .room-header-container .room-user-area .room-user-img {
  display: flex;
  align-items: center;
}
.room-content .room-header-container .room-user-area .room-user-img .img-container img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.room-content .room-header-container .room-user-actions {
  display: flex;
  list-style: none;
  margin-right: 3rem;
}
.room-content .room-header-container .room-user-actions li {
  padding-left: 2.4rem;
}
.room-content .message-area {
  overflow-y: scroll;
  padding: 2rem 3rem 0;
  flex: 1;
}
.room-content .message-form {
  border-top: 1px solid #f0eff5;
  padding: 2rem;
}
.room-content .message-form .message-img {
  width: 100%;
}
.room-content .message-form .message-img .img-preview-list {
  display: flex;
  padding-bottom: 2rem;
  gap: 1rem;
}
.room-content .message-form .message-img .img-preview-list .img-preview-item {
  width: 5rem;
  border-radius: 0.4rem;
  overflow: hidden;
  height: 5rem;
}
.room-content .message-form .message-img .img-preview-list .img-preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room-content .message-form .input-message {
  width: 100%;
  padding: 1.2rem;
  margin-right: 1rem;
  border-radius: 0.6rem;
  outline: none;
  border: 1px solid #e6ebf5;
  background-color: #e6ebf5;
}
.room-content .message-form .message-content {
  display: flex;
}
.room-content .message-form .message-content .form-group-options {
  display: flex;
  margin-left: 1rem;
  position: relative;
}
.room-content .message-form .message-content .form-group-options .emoji-picker {
  position: absolute;
  bottom: 100%;
  right: 0;
  display: none;
}
.room-content .message-form .message-content .form-group-options .emoji-picker.show {
  display: block;
}
.room-content .message-form .message-content .form-group-options .btn-img {
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.room-content .message-form .message-content .form-group-options .btn-img:hover {
  background-color: #e6e8ea;
}
.room-content .message-form .message-content .form-group-options .btn-emoji {
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.room-content .message-form .message-content .form-group-options .btn-emoji:hover {
  background-color: #e6e8ea;
}
.room-content .message-form .message-content .form-group-options .btn-submit {
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: #7269ef;
  border: 1px solid #7269ef;
  color: #fff;
}

/*# sourceMappingURL=room-content.component.css.map */
