  <div class="room-content" [class.show] = "recipients.length > 0" >
    <div class="room-header-container">
      <div class="room-user-area">
        <div class="room-user-img" [class.group] ="conversation?.group">
            <img [src]="recipient.avatarUrl" alt="" *ngFor="let recipient of recipients">
            <img *ngIf="conversation?.group" [src]="currentUser.avatarUrl">
        </div>
        <div *ngIf="!conversation?.group" class="room-user-name">
          <span class="room-user-name-content" *ngFor="let recipient of recipients; let isLast = last">
            {{recipient.fullName}}{{isLast ? '' : ','}}
          </span>
          <div class="room-user-online" *ngIf="recipients.length === 1 && recipients[0].status === STATUS.ONLINE"></div>
        </div>
        <div *ngIf="conversation?.group" class="room-user-name">
          <span class="room-user-name-content">
            {{conversation?.name}}
          </span>
        </div>
      </div>
      <ul class="room-user-actions">
        <li *ngFor="let item of roomNavItems" app-navigation-item [item]="item">
        </li>
      </ul>
    </div>
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="message-area">
      <ng-container *ngFor="let message of chatMessages">
        <app-message *ngIf="message"
                     [displaySentAt] ="greaterThan5Minutes(message)"
                     [position]="getPositionOfMessage(message)"
                     [conversation]="conversation"
                     [message]="message" ></app-message>
      </ng-container>
    </div>

    <form class="message-form" [formGroup]="messageForm" (ngSubmit)="onSubmit(recipients)">

      <div class="message-img">
        <div class="img-preview-list" *ngIf="imgSrcArr.length > 0">
          <div class="img-preview-item" (click)="deleteImg(imgSrc)" *ngFor="let imgSrc of imgSrcArr">
            <img  [src]="imgSrc" alt="">
          </div>
        </div>
      </div>
     <div class="message-content">
       <input class="input-message" placeholder="Nhập tin nhắn..." type="text" formControlName="messageControl" >
       <div class="form-group-options">

         <button  type="button" class="btn-img" (click)="openFileInput()">
           <fa-icon [icon]="faImage"></fa-icon>
           <input #inputFile multiple (change)="readImg($event)" type="file" [hidden]="true"/>
         </button>

         <button #emojiToggle type="button" class="btn-emoji" (click)="isEmojiPicker = !isEmojiPicker">
           <fa-icon [icon]="faFaceSmile"></fa-icon>
         </button>
         <div #emojiPicker class="emoji-picker" [class.show]="isEmojiPicker">
           <emoji-mart  [darkMode]="false"
                        (emojiClick)="onEmojiSelect($event)"></emoji-mart>
         </div>
         <button type="submit" class="btn btn-submit">
           <fa-icon [icon]= "faPaperPlane"></fa-icon>
         </button>
       </div>
     </div>
    </form>
  </div>
