  <div class="room-content" [class.show] = "recipients.length > 0" >
    <div class="room-header-container">
      <div class="room-user-area">
        <div class="room-user-img" [class.group] ="conversation?.group">
            <img [src]="recipient.avatarUrl" alt="" *ngFor="let recipient of recipients">
            <img *ngIf="conversation?.group" [src]="currentUser.avatarUrl" alt="">
        </div>
        <div *ngIf="!conversation?.group" class="room-user-name">
          <span class="room-user-name-content" *ngFor="let recipient of recipients; let isLast = last">
            {{recipient.fullName}}{{isLast ? '' : ','}}
          </span>
          <div class="room-user-online" *ngIf="recipients.length === 1 && recipients[0].status === STATUS.ONLINE"></div>
        </div>
        <div *ngIf="conversation?.group" class="room-user-name">
          <span class="room-user-name-content">
            {{conversation?.name}}
          </span>
        </div>
      </div>
      <ul class="room-user-actions">
        <li *ngFor="let item of roomNavItems" app-navigation-item [item]="item">
        </li>
      </ul>
    </div>
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="message-area">
      <ng-container *ngFor="let message of chatMessages; let isFirst = first">
        <app-message *ngIf="message"
                     [isFirstMessage] = "isFirst"
                     [displaySentAt] ="greaterThanPrevious5Minutes(message)"
                     [position]="getPositionOfMessage(message)"
                     [conversation]="conversation"
                     [message]="message" ></app-message>
      </ng-container>
    </div>
    <app-form-chat [recipients]="recipients" [conversation]="conversation" ></app-form-chat>
  </div>
