<div class="nav-bar">
  <a href="/" class="logo-link">
    <img class="logo-image"
         src="https://freepngimg.com/save/97432-logo-chat-photos-download-free-image/512x512">
  </a>
  <ul class="nav-link" >
    <li class="icon-wrapper" *ngFor="let item of getNavItems()"  [class.active]="currentTab===item.name" (click)="changeTab(item)">
      <fa-icon class="icon" [icon]="item.icon"></fa-icon>
    </li>
  </ul>

  <ul>
    <li class="icon-wrapper" *ngFor="let item of getUserNavItems()">
        <fa-icon class="icon" [icon]="item.icon"></fa-icon>
    </li>
    <li class="user-nav">
      <div *ngIf="user" #toggleButton (click)="toggleMenu()">
        <img [src]="user.avatarUrl" alt="user">
      </div>
        <ul #menu class="user-menu" [class.show]="isMenuOpen">
          <li>
            <span>Hồ sơ</span>
            <fa-icon [icon]="faUser"/>
          </li>
          <li (click)="logOut()">
            <span>Đăng xuất</span> <fa-icon [icon]="faArrowRightFromBracket"/>
          </li>

        </ul>

    </li>
  </ul>
</div>
