<div class="contact__container" *ngIf="contactTab$ | async as tab">
  <div *ngIf="tab === TAB.FRIEND_LIST" class="contact__header">
    <fa-icon [icon]="faAddressBook"></fa-icon>
    <span>Danh sách bạn bè</span>
  </div>
  <div *ngIf="tab === TAB.GROUP_LIST" class="contact__header">
    <fa-icon [icon]="faUserGroup"></fa-icon>
    <span>Danh sách nhóm</span>
  </div>
  <div *ngIf="tab === TAB.FRIEND_REQUEST" class="contact__header">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <span>Lời mới kết bạn</span>
  </div>
  <div class="contact__content" *ngIf="tab === TAB.FRIEND_LIST || tab === TAB.GROUP_LIST ">
    <div class="contact__content__header">
      <p>{{tab === TAB.FRIEND_LIST ? 'Bạn bè' : 'Nhóm'}}</p>
    </div>
    <div class="contact__content__main__container">
      <div class="main__area">
        <form class="form" [formGroup]="searchForm">
          <div class="form-group search-group">
            <fa-icon [icon]="faSearch"></fa-icon>
            <input formControlName ='fullName' [placeholder]="TAB.FRIEND_LIST === tab ? 'Tìm bạn' : 'Tìm nhóm'" />
          </div>

          <div (click)="isSortMenu = !isSortMenu" class="form-group condition-group">
            <fa-icon [icon]="faArrowUpAZ" ></fa-icon>
            <div>{{currentSortItem}}</div>
            <fa-icon class="arrow-down" [icon]="faAngleDown"></fa-icon>
            <ul class="filter-menu" [class.show] ="isSortMenu">
              <li *ngFor="let item of sortItems" (click)="setSortItem(item)">
                <span>
                  <fa-icon [hidden]="currentSortItem !== item" [icon]="faCheck"></fa-icon>
                </span>
                {{item}}
              </li>
            </ul>
          </div>
        </form>


        <div class="friend-list" *ngIf="tab === TAB.FRIEND_LIST">
          <div class="friend-item" [hidden]="currentSortItem !== 'Từ A-Z'"  *ngFor="let friendEntry of friendMap | keyvalue : keyAscOrder">
            <div class="friend-letter">
              {{friendEntry.key}}
            </div>
            <div class="friend-info" (click)="setMember(friend.requestTo)"  *ngFor="let friend of friendEntry.value">
              <img class="friend-img" [src]="friend.requestTo.avatarUrl" alt="">
              <div class="friend-name">{{friend.requestTo.fullName}}
                <fa-icon [icon]="faEllipsis"></fa-icon>
              </div>
            </div>
          </div>

          <div class="friend-item" [hidden]="currentSortItem !== 'Từ Z-A'"    *ngFor="let friendEntry of friendMap | keyvalue : keyDescOrder">
            <div class="friend-letter">
              {{friendEntry.key}}
            </div>
            <div class="friend-info" (click)="setMember(friend.requestTo)"  *ngFor="let friend of friendEntry.value">
              <img class="friend-img" [src]="friend.requestTo.avatarUrl" alt="">
              <div class="friend-name">{{friend.requestTo.fullName}}
                <fa-icon [icon]="faEllipsis"></fa-icon>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>

  <div class="friend__request__container" *ngIf="tab === TAB.FRIEND_REQUEST" >
    <div class="friend__request__grid">
      <div *ngFor="let friend of friendRequests"  class="request">
          <div class="user">
            <img [src]="friend.owner.avatarUrl" alt="">
            <span>{{friend.owner.fullName}}</span>
          </div>
          <div class="btn-group" *ngIf="friend.status !== STATUS.ACTIVE">
            <button class="btn-delete" (click)="deleteFriend(friend)">Xóa</button>
            <button class="btn-add" (click)="addFriend(friend)" >Xác nhận</button>
          </div>
          <div class="btn-group" *ngIf="friend.status === STATUS.ACTIVE">Các bạn đã trở thành bạn bè</div>
      </div>

    </div>
  </div>

</div>
