@import "../../../assets/variables";

.contact__container {
  height: 100%;
  width: 100%;
  .contact__header {
    display: flex;
    padding: 0 2rem;
    height: 7.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid #e6e8ea;
    fa-icon {
      min-width: 2rem;
    }
  }
  .contact__content {
    height: calc(100% - 7.5rem);
    .contact__content__header {
      padding: 3rem 2rem;
      font-weight: 500;
      p {
        margin: 0;
      }
    }
    .contact__content__main__container {
      height: calc(100% - 7.8rem);
      background-color: #f5f7fb;
      padding: 2rem 2rem 0 2rem;
      .main__area {
        height: 100%;
        width: 100%;
        background-color: #fff;
        .form {
          display: flex;
          padding: 2rem;
          gap: 1rem;
          .form-group {
            width: 45%;
            border-radius: 0.4rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 0.6rem 1rem;
            &.search-group {
              border: 1px solid #e6e8ea;
              input {
                border: none;
                outline: none;

              }
            }
            &.condition-group {
              background-color: #e6e8ea;
              position: relative;
              .arrow-down {
                margin-left: auto;
              }
              .filter-menu {
                display: none;
                border-radius: 0.4rem;
                position: absolute;
                list-style: none;
                top: 100%;
                width: 100%;
                z-index: 1;
                box-shadow: 0 0 10px 0 #3333;
                left: 0;
                right: 0;
                &.show {
                  display: block;
                }
                li {
                  padding: 1rem;
                  span {
                    display: inline-block;
                    min-width: 2rem;
                  }
                }
              }
            }
          }
        }
        .friend-list {
          .friend-item {

            .friend-letter {
              font-size: 1.8rem;
              padding-left: 2rem;
              margin: 1rem 0;
              font-weight: 500;
            }
            .friend-info {
              display: flex;
              gap: 1rem;
              padding-left: 3rem;
              align-items: center;
              cursor: pointer;
              &:hover {
                background-color: #e6e8ea;
              }
              .friend-img {
                width: 5rem;
                height: 5rem;
              }
              .friend-name {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 3rem 3rem 3rem 0;
                border-bottom: 1px solid #e6e8ea;

              }
              &:last-child {
                .friend-name {
                  border-bottom: 0;
                }
              }
            }

          }

        }
      }
    }
  }
  .friend__request__container {
    height: calc(100% - 7.3rem);
    .friend__request__grid {
      padding: 2rem 2rem 2rem 2rem;
      height: 100%;
      border-radius: 0.4rem;
      background-color: #f5f7fb;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.2rem;

      .request {
        font-size: 1.6rem;
        height: fit-content;
        background-color: #ffff;
        box-shadow: 0 2px 4px rgba(19, 116, 238, 0.12);
        border-radius: 0.4rem;
        .user {
          display: flex;
          align-items: center;
          margin: 1rem;
          gap: 1rem;
          img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
          }
        }
        .btn-group {
          margin: 1rem 1rem;
          .btn-delete {
            background-color: #ffff;
            border: 1px solid #cec0c0;
            outline: none;
            padding: 1rem 1.8rem;
            cursor: pointer;
            border-radius: 0.4rem;
            min-width: 5rem;
          }
          .btn-add {
            background-color: $primary-color;
            cursor: pointer;
            outline: none;
            border: 1px solid $primary-color;
            color: #ffff;
            padding: 1rem 1.8rem;
            border-radius: 0.4rem;
            margin-left: 1rem;
          }
          span {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

}
