<div class="contact__container" *ngIf="contactTab$ | async as tab">
  <div *ngIf="tab === TAB.FRIEND_LIST" class="contact__header">
    <fa-icon [icon]="faAddressBook"></fa-icon>
    <span>Danh sach ban be</span>
  </div>
  <div *ngIf="tab === TAB.GROUP_LIST" class="contact__header">
    <fa-icon [icon]="faUserGroup"></fa-icon>
    <span>Danh sach nhom</span>
  </div>
  <div *ngIf="tab === TAB.FRIEND_REQUEST" class="contact__header">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <span>Loi moi ket ban</span>
  </div>
  <div class="contact__content" *ngIf="tab === TAB.CONTACT ">
    <div class="contact__content__header">
      Ban be
    </div>
    <div class="contact__content__main__container">
      <form>

      </form>
    </div>

  </div>

  <div class="friend__request__container" *ngIf="tab === TAB.FRIEND_REQUEST" >
    <div class="friend__request__grid">
      <div *ngFor="let i of Array(20).fill(5)"  class="request">
          <div class="user">
            <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-512.png" alt="">
            <span>Plz add me</span>
          </div>
          <div class="btn-group">
            <button class="btn-delete">Xoa</button>
            <button class="btn-add">Them ban</button>
          </div>
      </div>

    </div>
  </div>

</div>
