<form class="message-form" [formGroup]="messageForm" (ngSubmit)="onSubmit(recipients)">

  <div class="message-img">
    <div class="img-preview-list" *ngIf="imgSrcArr.length > 0">
      <div class="img-preview-item" (click)="deleteImg(imgSrc)" *ngFor="let imgSrc of imgSrcArr">
        <img  [src]="imgSrc" alt="">
      </div>
    </div>
  </div>
  <div class="message-content">
    <input class="input-message" placeholder="Nhập tin nhắn..." type="text" formControlName="messageControl" >
    <div class="form-group-options">

      <button  type="button" class="btn-img" (click)="openFileInput()">
        <fa-icon [icon]="faImage"></fa-icon>
        <input #inputFile multiple (change)="readImg($event)" type="file" [hidden]="true"/>
      </button>

      <button #emojiToggle type="button" class="btn-emoji" (click)="isEmojiPicker = !isEmojiPicker">
        <fa-icon [icon]="faFaceSmile"></fa-icon>
      </button>
      <div #emojiPicker class="emoji-picker" [class.show]="isEmojiPicker">
        <emoji-mart  [darkMode]="false"
                     (emojiClick)="onEmojiSelect($event)"></emoji-mart>
      </div>
      <button type="submit" class="btn btn-submit">
        <fa-icon [icon]= "faPaperPlane"></fa-icon>
      </button>
    </div>
  </div>
</form>
