<div class="room-content">
  <div  class="message-area">
    <ng-container *ngFor="let message of chatMessages">
      <app-message *ngIf="message" [message]="message" ></app-message>
    </ng-container>
    <div #chatBox></div>
  </div>

  <form class="message-form" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <input class="input-message" placeholder="Nhập tin nhắn..." type="text" formControlName="messageControl" >
      <div class="form-group-options">
      <button type="submit" class="btn btn-submit">
        <fa-icon [icon]= "faPaperPlane"></fa-icon>
      </button>
    </div>
  </form>
</div>
